.about__main__slider {
    max-width: 760px;
    margin: 0 auto;
    overflow-x: hidden;
}

.about__slider {
    flex-direction: column-reverse;
    display: flex;
    transition: 0.7s;
}

.about__slider__btns {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.owl-nav {
    margin: 12px auto !important;
}

.about_banner_div {
    padding: 75px 0px;
    position: relative;
    z-index: 89;
    text-align: center;
    line-height: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about_banner_title {
    color: #fff;
    font-style: italic;
}

.about_banner_title_under {
    color: #da5643;
}

.about__slider__btns>button {
    width: 80px;
    cursor: pointer;
    height: 35px;
    border: none;
    color: rgb(112, 112, 112);
    border-radius: 5px;
    transition: 0.2s;
    margin-left: 10px;
    background-color: #eaeaea;
}

.owl-stage {
    display: flex !important;
}

.owl-next,
.owl-prev {
    background-color: #dddddd;
    color: rgb(116, 116, 116);
    border: none;
    width: 45px;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.owl-dots {
    display: none !important;
}

.about__slider__btns>button:hover {
    background-color: #ec4933;
    color: #fff;
}

.about__slider__item {
    max-width: 180px;
    margin: 0px 15px 20px;
}

.about__main__slider-info {
    text-align: center;
    font-family: sans-serif;
}

.about__main__slider-info>h5 {
    width: 190px;
    color: #454545;
    cursor: pointer;
}

.about__main__slider-info>h5:hover {
    color: #ed280e;
}

.about__main__slider-info>p:nth-child(2) {
    font-style: italic;
}

.about__main__slider-info>p {
    color: #818181;
    width: 190px;
    font-size: 13px;
}

.text__box {
    width: 60%;
    margin: 50px auto;
}

.text__box>h5 {
    font-weight: bold;
    color: #333333;
}

.text__box>p {
    color: #808080;
    text-align: justify;
    text-justify: inter-word;
}

.about__line {
    background-color: #dedede;
    height: 140px;
    margin-bottom: 40px;
}

.about_inf_container {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    margin: auto;
    width: 70%;
}

.inf__boxes {
    width: 30%;
    height: 100%;
}

.inf__logo {
    border: solid 2px #3e3e3e;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #3e3e3e;
    margin: auto;
    margin-bottom: 40px;
}

.inf__logo>i {
    color: #ec4933;
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 80px;
    font-size: 30px;
}

.inf__boxes>h5 {
    text-align: center;
    font-weight: bold;
    color: #333333;
}

.inf__boxes>p {
    text-align: center;
    color: #888888;
}

.history__box {
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history__inf {
    height: 400px;
    width: 35%;
}

.history__inf1 {
    height: 400px;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history__text {
    width: 80%;
    text-align: justify;
    text-justify: inter-word;
}

.history__text>h6 {
    color: #fff;
    font-weight: bold;
}

.history__text>p {
    color: #fff;
    font-size: 13px;
}

.history__button {
    outline: none;
    border: none;
    padding: 10px;
    color: #fff;
    background-color: #ec4933;
    font-size: 12px;
    font-weight: bold;
}

.cite__box {
    height: 350px;
    background-color: #ec4933;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cite__text>h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.cite__text {
    width: 50%;
}

.cite__text>p {
    color: #fff;
    text-align: center;
}

.fa-quote-left {
    font-size: 35px;
    color: #fff;
    align-content: center;
}


/* sklbar */

.details>span {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

.skills:not(:last-child) {
    margin-bottom: 30px;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar {
    position: relative;
    background-color: white;
}

.bar div {
    position: relative;
    width: 0;
    height: 7px;
    background-color: #ec4933;
}

#bar-1 {
    animation: bar-1 2s forwards;
}

@keyframes bar-1 {
    100% {
        width: 100%;
    }
}

#bar-2 {
    animation: bar-2 2s forwards;
}

@keyframes bar-2 {
    100% {
        width: 80%;
    }
}

#bar-3 {
    animation: bar-3 2s forwards;
}

@keyframes bar-3 {
    100% {
        width: 75%;
    }
}

#bar-4 {
    animation: bar-4 2s forwards;
}

@keyframes bar-4 {
    100% {
        width: 20%;
    }
}

@media screen and (max-width: 750px) {
    .about__main__slider {
        max-width: 400px;
    }
    .text__box {
        width: 80%;
    }
    .about_inf_container {
        flex-direction: column;
    }
    .inf__boxes {
        width: 100%;
    }
    .history__box {
        flex-direction: column;
        height: fit-content;
    }
    .history__inf1,
    .history__inf {
        width: 80%;
        margin: 30px;
    }
    .history__text>h6 {
        margin-top: 50px;
    }
    .cite__box {
        height: fit-content;
    }
}