.footer {
    width: 100%;
    height: fit-content;
}

.footer__head {
    width: 100%;
    background-color: #161616;
    padding-bottom: 15px;
    padding-top: 15px;
}

.inheader {
    margin: auto;
    display: flex;
    height: 100%;
    width: 70%;
    justify-content: space-around;
}

.footer_box {
    width: 30%;
}

.footer_title {
    color: #fff;
    font-style: italic;
}

.footer_text {
    color: #adadad;
    font-size: 12px;
}

.last_news {
    color: rgb(216, 215, 215);
    font-size: 13px;
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
}

.left {
    margin-left: 10px;
    color: #515151;
}

.icons .fab {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}

.left:hover {
    color: #fff;
    transition: .2s;
}

.contact {
    color: rgb(216, 215, 215);
    margin: 15px;
    font-size: 13px;
}

.footer__main {
    height: 50px;
    background-color: #262626;
    color: #fff;
    padding: 15px;
}

.footer__bottom {
    width: 100%;
    height: 75px;
    background-color: #303030;
}

.copyright {
    margin-left: 15%;
    color: #afafaf;
    font-size: 14px;
}

@media screen and (max-width: 750px) {
    .inheader {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .footer_box,
    .footer__main {
        margin: auto;
        text-align: center;
    }
    .footer_box {
        width: 420px;
    }
    .copyright {
        margin: 0;
    }
    .footer_box {
        width: 90%;
    }
}