body {
    margin: 0;
    padding: 0;
}

.header {
	box-sizing: border-box;
    color: white;
}

.header__top{
    background-color: #fff;
    display: flex;
    padding: 10px;
}

.image_cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-image {
    width: 42%;
    margin-left: 25%;
    min-width: 200px;
}

.links {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: 15px auto;
}

.links_a {
    text-decoration: none;
    margin-left: 5px;
    color: lightslategrey;
}

.links_a:hover {
    color: rgb(255, 255, 255);
}

.links .links_a i {
    font-size: 17px;
}

.search_form {
    display: flex;
    float: right;
    margin-right: 20%;
}

.header__inp {
    border: solid 1px black;
    border-right: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 7px;
    font-size: 13px;
    outline: none;
    width: 100%;
}

.search-button {
    padding: 6.2px;
    border: solid 1px black;
    border-left: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 15%;
}

.fa-search {
    color: grey;
    font-size: 15px;
}

.nav_cont {
    background-color: #5b6770;
    height: 35px;
    line-height: 35px;
}

.nav_ul {
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    list-style: none;
}

.nav_li_a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
}

.nav_li_a:hover {
    color:#444444;
    background-color: #fff;
}
.nav_li{
    text-align: center;
    font-size: 15px;
    flex: 1 1 auto;
    cursor: pointer;
}

.nav_li:hover{
    background-color: #fff;
}

.nav_li:hover .nav_li_a{
    color:#444444;
}

.sidenav {
    height: 100%; 
    width: 0;
    position: fixed;
    z-index: 100; 
    top: 0;
    right: 0;
    background-color: #5a5e61;
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  

  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

.burger{
    color: #000;
    display: none;
}
@media screen and (max-width: 1024px) {
    .nav_ul {
        width: 90%;
        margin: 0 0;
    }
}

@media screen and (max-width: 768px) {
   .nav_cont{
       display: none;
   }
   .search_cont{
         display: none;
   }
   .burger{
    display: block;
   }
   .header-image{
       width: 150px;
   }
   .header-image{
         margin-left: 0;
   }
}
