body,
input,
textarea,
select {
    font-family: "Open Sans";
}

.news_banner_div {
    padding: 75px 0px;
    position: relative;
    z-index: 89;
    text-align: center;
    line-height: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.news_banner_title {
    color: #fff;
    font-style: italic;
}

.news_banner_title_under {
    color: #ec4933;
}

.news__container {
    display: flex;
    margin: 2% auto;
    justify-content: center;
}

.news__sidebar {
    width: 20%;
    margin: 0.3% 1%;
}

.inp__box {
    position: relative;
}

.search_type {
    border: none;
    outline: none;
    width: 100%;
    padding: 12px;
    background-color: #eeeeee;
}

.search_submit {
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    right: 10px;
    font-size: 28px;
}

.news_sidebar__textWidget {
    margin-top: 40px;
}

.news__sidebar__practiceWidget__item {
    display: flex;
    border-bottom: solid 1px #d3d3d3;
    padding: 10px;
    margin-bottom: 20px;
}

.news__sidebar__practiceWidget__item-info>a {
    color: #999999;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
}

.news__sidebar__practiceWidget__item-info>h5 {
    font-weight: bold;
}

.news__sidebar__practiceWidget__item-info {
    margin: 5px 30px;
    height: fit-content;
}

.news_sidebar__textWidget>h4,
.news__sidebar__practiceWidget>h4 {
    padding-right: 4px;
    font-style: italic;
    letter-spacing: 1px;
    color: #383838;
}

.news__sidebar__practiceWidget {
    margin-top: 40px;
}

.news_sidebar__textWidget>p {
    font-size: 14px;
    color: gray;
}

.news__sidebar__tags__item>a {
    display: block;
    float: left;
    padding: 10px 8px;
    margin: 5px 4px;
    border-width: 0px;
    color: #fff;
    border-style: solid;
    font-size: 11px;
    border-image: initial;
    border-color: inherit;
    font-weight: bold;
    color: #fff;
    background-color: #ec4933;
    text-transform: uppercase;
    text-decoration: none;
}

.news__sidebar__tags__item a:hover {
    color: #fff;
    opacity: 0.9;
    transition: .2;
}

.news_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.news_item {
    height: 550px;
    margin: 16px;
}

.news_item_img {
    max-width: 350px;
}

.news_item_img a>img {
    object-fit: cover;
    height: auto;
    width: 100%;
}

.news_item_img img:hover {
    opacity: 0.8;
}

.news_item_info {
    margin-top: 10px;
    max-width: 300px;
}

.news_item_subInfo {
    display: flex;
    margin-top: 20px;
    width: 80%;
    justify-content: space-between;
    flex: 1 1 auto;
}

.news_item_info>h5 {
    font-weight: bold;
}

.news_item_info h5:hover {
    color: #ec4933;
    transition: .2s;
    cursor: pointer;
}

.news_item_subInfo>p {
    font-weight: bold;
    color: gray;
    font-size: 13px;
}

.news_item_info>p {
    font-size: 13px;
    color: gray;
}

.news_btn-link {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ec4933;
    border: none;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
}

.news_btn-link:hover {
    color: #ec4933;
}


/* max widht 750*/

@media screen and (max-width: 750px) {
    .news_items {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }
    .news__container {
        flex-direction: column;
        align-items: center;
    }
    .news_item_img a>img {
        width: 100%;
        height: auto;
    }
    .news__sidebar {
        max-width: 450px;
        width: 100%;
        margin-top: 20%;
    }
}