.news_banner_div {
    padding: 75px 0px;
    position: relative;
    z-index: 89;
    text-align: center;
    line-height: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.news_banner_title {
    color: #fff;
    font-style: italic;
}

.news_banner_title_under {
    color: #da5643;
}
.news__container{
    display: flex;
    margin: 5% auto;
    justify-content: center;
}
.news__sidebar{
    margin-left: 5%;
    width: 33%;
}
.news_sidebar__textWidget > h3,.news__sidebar__practiceWidget > h3{
    padding-right: 4px;
    font-style: italic;
    letter-spacing: 1px;    
    color: #383838;
}
.news__sidebar__practiceWidget{
    margin-top: 40px;
}
.news_sidebar__textWidget > p{
    font-size: 14px;
    color: gray;
}
.news__sidebar__tags__item > a{
    display: block;
    float: left;
    padding: 7px 13px;
    margin-right: 7px;
    margin-top: 7px;
    border-width: 0px;
    color: #fff;
    border-style: solid;
    font-size: 11px;
    border-image: initial;
    border-color: inherit;
    font-weight: bold;background-color: rgb(236, 73, 51);
    text-transform: uppercase;
}
.news_items{
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(2,1fr);
}

.news_item {
    margin: 5px;
}

.news_item_img {
    max-width: 300px;
}

.news_item_img>img {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.news_item_info {
    margin-top: 10px;
    max-width: 300px;
}

.news_item_subInfo {
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex: 1 1 auto;
}

.news_item_info>h3 {
    font-weight: bold;
}

.news_item_subInfo>p {
    font-weight: bold;
    color: gray;
    font-size: 13px;
}

.news_item_info>p {
    font-size: 13px;
    color: gray;
}

.news_btn-link {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #da5643;
    border: none;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
}

.news_btn-link:hover {
    background-color: #da5643;
    color: #fff;
}
.news_sidebar__textWidget{
    margin-top: 40px;
}
/* max widht 750*/

@media screen and (max-width: 750px) {
    .news_items {
        flex-direction: column;
        grid-template-columns: repeat(1,1fr);
    }
    .news__container{
        flex-direction: column;
        align-items: center;
    }
    .news_item_img > img{
        width: 100%;
        height: auto;
    }
    .news__sidebar{
        max-width: 450px;
        width: 100%;
        margin-top: 20%;
    }
}
    
