/* error style */
.news_post__error {
    font-weight: bold;
   text-align: center;
    color: #ec4933;
   margin: 20px 0 20px;
}
    /*  */
.news_post_banner_div {
    padding: 75px 0px;
    position: relative;
    z-index: 89;
    text-align: center;
    line-height: 1;
    background-repeat: repeat;
    background-position: center;
}
.news__sidebar{
    width: 33%;
    margin: 15px;
}
.news_post_banner_title {
    color: #fff;
    font-style: italic;
}

.news_post_banner_title_under {
    color: #da5643;
}

.news_post__image>img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
}
.news_post__box{
    max-width: 850px;
}

.news_post__container {
    display: flex;
    margin:5%;
    justify-content: space-around;
}

.news_post__info>h3 {
    font-size: 30px;
    font-weight: bold;
    word-break: break-all;
    margin-bottom: 3px;
}

.news_post__info {
    padding: 15px;
}

.news_post__subInfo {
    display: flex;
}

.news_post__subInfo>p {
    font-size: 14px;
    color: gray;
    margin-right: 22px;
}

.news_post__content {
    font-size: 14px;
    color: gray;
    line-height: 2;
}

.news_post__gallery {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    flex-wrap: wrap;
}

.news_post__gallery_item {
    margin-top: 10px;
}

.news_post__gallery_item>img {
    max-width: 200px;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

@media screen and (max-width: 750px) {
    .news_post__container {
        flex-direction: column;
    }
    .news__sidebar{
        width: 90%;
    }
}